<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://tj.hxlp.tk/806.ipa</string>
                          <!--  上面为安装包的https下载地址，必须有   -->
                </dict>
                      <!--  下面注释的内容为ipa包安装的时候显示的图片，不影响实际图标，可有可无   -->
                      <!--  注释内容   -->
                 <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/bareboy/ios/main/bole.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/bareboy/ios/main/bole.png</string>
                </dict>
                      <!--  注释内容   -->
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.newtx.52201</string>
                <!--  上面为app包名，也就是 bundleid  必须有   -->
                <key>bundle-version</key>
                <string>8.0.6</string>
                <!--  上面为app版本   -->
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>weixin</string>
                <!--  app名称，随意设置，下载安装时会弹窗展示   -->
            </dict>
        </dict>
    </array>
</dict>
</plist>
